.overlay{
  position: absolute;
  z-index: 1001;
  width: 100%;
  left: 0;
  top: 0;
  height: 400px;
  background: rgba(0, 0, 0, .75);
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transition: transform .5s ease;
  -webkit-transition: '-webkit-transform' .5s ease;
}
.overlay-hide{
  transform: translateY(-400px);
  -webkit-transform: translateY(-400px);
}
