html,body{
  height: 100%;
  background: #3a3440;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}
.hide{
   display: none;
}
.body{
  background-color: #7ab0f9;
}
.canvas{
  position: relative;
  z-index: 1000;
  width: 360px;
  height: 400px;
  vertical-align: middle;
}