<!doctype html>
<html>
<!-- <html manifest="v-main.appcache"> -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=360,user-scalable=no">
  <title>zombie</title>
</head>

<body>
  <script>
  if (!navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
    alert('请使用手机浏览器打开！')
  }
  </script>
  <script src='/assets/js/lib/mod.js'></script>
  <script src='/assets/js/lib/zepto.js'></script>
  <script src='/assets/js/lib/howler.min.js'></script>
  <!--RESOURCEMAP_PLACEHOLDER-->
  <!--SCRIPT_PLACEHOLDER-->
  <script>
  require.async('views/index/index.js');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- zombie -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7096760184781763" data-ad-slot="8065072732" data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</body>

</html>
