html,body{
  height: 100%;
  background: url(bg.png) #efefef repeat;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  color: #434343;
  line-height: 1.5;
}
h1,h2,h3,h4,h5{
  color: #0e152b;
}
.hide{
   display: none;
}
.body{
  background-color: #7ab0f9;
}
.canvas{
  position: relative;
  z-index: 1000;
  width: 360px;
  height: 400px;
  vertical-align: middle;
}