<!doctype html>
<html>
<!-- <html manifest="v-main.appcache"> -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=360,user-scalable=no">
  <title>zombie</title>
</head>

<body>
  <script>
  if (!navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
    alert('请使用手机浏览器打开！')
  }
  </script>
  <script src='/assets/js/lib/mod.js'></script>
  <script src='/assets/js/lib/zepto.js'></script>
  <script src='/assets/js/lib/howler.min.js'></script>
  <!--RESOURCEMAP_PLACEHOLDER-->
  <!--SCRIPT_PLACEHOLDER-->
  <script>
  require.async('views/index/index.js');
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74457009-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- zombie -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7096760184781763" data-ad-slot="8065072732" data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</body>

</html>
