<!doctype html>
<html manifest="v-main.appcache">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=360,user-scalable=no">
    <title>zombie</title>
</head>

<body>
    <div id="J_load" class="load load-middle"></div>
    <script src='/assets/js/lib/mod.js'></script>
    <script src='/assets/js/lib/zepto.js'></script>
    <script src='/assets/js/lib/howler.min.js'></script>
    <!--RESOURCEMAP_PLACEHOLDER-->
    <!--SCRIPT_PLACEHOLDER-->
    <script>
    require.async('views/index/index.js');
    </script>
</body>

</html>
