/*
* @require /assets/css/reset.css
*/
html,body{
  height: 100%;
  background: url(index-bg.png) #222520;
  overflow: hidden;
  color: #434343;
  line-height: 1.5;
}

.hide{
   display: none;
}
.body{
  background-color: #7ab0f9;
}
.canvas{
  position: relative;
  z-index: 1000;
  width: 360px;
  height: 400px;
  vertical-align: middle;
}