.icon-loading {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(loading.png) center center no-repeat;
  vertical-align: middle;
  -webkit-animation: auto-circle 1s linear infinite;
  animation: auto-circle 1s linear infinite;
  background-size: 100% 100%;
  opacity: 0.8;
}

@-webkit-keyframes auto-circle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  display: none;
  color: #fff;
  z-index: 2000;
  top: 50%;
  left: 0;
  text-align: center;
  margin: -38px auto 0;
  padding: 0;
  min-height: 0;
  right: 0;
  width: 100px;
  background: rgba(0, 0, 0, .5);
  border-radius: 3px;
}

.icon-no-network {
  font-size: 40px;
  line-height: 1;
}

.loading span {
  vertical-align: middle;
  margin-left: 3px;
}


/*.btn-restry {
  border: 1px solid #ccc;
  padding: 3px 8px;
}*/

.loading p {
  margin: 9px 0px;
}

.no-network {
  margin-top: -55px;
}


/*.btn-reflesh {
  border-radius: 27px;
  border: 1px solid #787878;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 8px 21px;
  line-height: 1;
}*/


/*.btn-reflesh:active {
  background: rgba(0, 0, 0, 0.35);
}*/

.loading-bottom {
  top: 520px;
}
