.result {
  position: absolute;
  z-index: 1001;
  color: #fff;
  text-align: center;
  padding-top: 48px;
  width: 100%;
  left: 0;
  top: 0;
  height: 300px;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.result-hide {
  -webkit-transform: translateY(-400px);
  transform: translateY(-400px);
}

.result h1 {
  color: #fff;
}

.result .content {
  text-align: left;
  width: 225px;
  margin: 0 auto;
}
