.nav{
   position: absolute;
   width: 100%;
   top: 0;
   margin-right: 12px;
   text-align: center;
   z-index: 1;
   -webkit-transform: translateY(420px);
   transform: translateY(420px);
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.nav-hide{
  -webkit-transform: translateY(640px);
  transform: translateY(640px);
}