.nav{
   position: absolute;
   width: 100%;
   top: 420px;
   margin-right: 12px;
   text-align: center;
   z-index: 1;
   transition: top .5s ease;
   -webkit-transition: top .5s ease;
}

.nav-hide{
  top: 800px;
}