
@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeOut{
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeOut{
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.brand{
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 1s linear forwards;
  animation: fadeIn 1s linear forwards;
  text-align: center;
}
.brand svg{
  margin-top: 100px;
}

.brand-hide{
  animation: fadeOut 1s linear forwards;
  -webkit-animation: fadeOut 1s linear forwards;
}

.logo{
  width: 160px;
  height: 240px;
}